.upload-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    background: rgb(235, 235, 235);
    box-shadow: -2px 0px 10px grey;
    padding: 0px 20px 10px 20px;
}
.upload-wrapper h1{
    font-size: 1.5em;
    font-weight: 400;
}
#imgPreview{
    height: auto;
}
.upload-wrapper button{
    width: 60%;
    margin-top: 10px;
    
    background: rgb(34, 34, 34);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
}