/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* init */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #33058d;
    font-family: 'Poppins';
}

/* header */
.header-wrapper nav{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.header-wrapper nav a{
    text-decoration: none;
    color: white;
    font-size: 3em;
    font-weight: bold;
}

/* main */
.main-content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.5em;
    color: white;
    font-weight: 200
}
.login-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.login-wrapper label{
    font-size: 1.5em;
    color: white;
}
.login-wrapper input{
    margin-top: 3px;
    width: 250px;
    height: 25px;
}

.password-wrapper {
    display: flex;
    flex-direction: column;
}
.password-wrapper label{
    font-size: 1.5em;
    color: white;
}
.password-wrapper input{
    margin-top: 3px;
    width: 250px;
    height: 25px;
}

.btn-submit {
    height: 40px;
    width: 100px;
    margin-top: 30px;
    margin-left: 75px;
}